:root {
  // colors
  --orangeColor: #ff7551;
  --greenColor: #22b07d;
  --primaryColor: #1f1d2b;
  --whiteColor: #ffffff;
  --greyColorLight: #808191;
  --greyColorDark: #353340;
  --purpleColor: #6c5ecf;
  --blueColor: #08a0f7;
  // font family
  --primaryFontFamily:'Poppins'
  // font weight
  --fontWeightM:400,
  --fontWeightL:500,
  --fontWeightXL:600
  //font size
  --fontSizeM:13px;
  --fontSizeM:12px;
  --fontSizeM:16px;
  --fontSizeM:30px;
  --fontSizeM:15px;
  --fontSizeM:10px;
  --fontSizeM:40px;
  --fontSizeM:11px;
}
